# Pandas通用设置

In [1]:
import numpy as np
import pandas as pd
pd.__version__

'1.0.3'

In [2]:
# 设置
import pandas as pd

display_settings = {
    'max_columns': 10,
    'expand_frame_repr': True,  # Wrap to multiple pages
    'max_rows': 10,
    'precision': 2,
    'show_dimensions': True
}

for op, value in display_settings.items():
    pd.set_option("display.{}".format(op), value)

# Pandas对象

* 三种基本 Pandas 数据结构:
**Series, DataFrame, Index**

## Series对象

In [3]:
# 基于数组
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
Length: 4, dtype: float64

In [4]:
# 对象的值与索引：

print('values:', data.values, '，index:', data.index)

values: [0.25 0.5  0.75 1.  ] ，index: RangeIndex(start=0, stop=4, step=1)

In [5]:
# 通过索引访问数据：
data[1:3]

1    0.50
2    0.75
Length: 2, dtype: float64

### Series 作为一般的 NumPy 数组
- Numpy 数组默认的整数索引
- Series 还可以 显式 定义索引：字符串列表、整数列表(可以为非连续数列)

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
Length: 4, dtype: float64

In [7]:
data['b']

0.5

In [8]:
# 使用非连续的索引
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
Length: 4, dtype: float64

In [9]:
data[5]

0.5

### Series 作为特殊的词典

In [10]:
population_dict = {
    'California': 38332521,
    'Texas': 26448193,
    'New York': 19651127,
    'Florida': 19552860,
    'Illinois': 12882135
}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Length: 5, dtype: int64

>**注意**：索引为显式定义的字符串，切片时<span class="burk">包含终止索引点</span>的！！！！

In [11]:
population['Texas':'Florida']

Texas       26448193
New York    19651127
Florida     19552860
Length: 3, dtype: int64

In [12]:
population[:2]

California    38332521
Texas         26448193
Length: 2, dtype: int64

### 创建 Series 对象

`pd.Series(data, index=index)`
- 参数`data`可以为列表，Numpy数组，标量或词典
- 若定义了 `index`，则只有 `index` 对应的项才激活

In [13]:
a = pd.Series([2, 4, 6])
a

0    2
1    4
2    6
Length: 3, dtype: int64

In [14]:
b = pd.Series(5, index=[100, 200, 300])
b

100    5
200    5
300    5
Length: 3, dtype: int64

In [15]:
c = pd.Series({2: 'a', 1: 'b', 3: 'c'})
c

2    a
1    b
3    c
Length: 3, dtype: object

In [16]:
# 索引 使用优先 指定的 index 属性
pd.Series({2: 'a', 1: 'b', 3: 'c'}, index=[3, 2])

3    c
2    a
Length: 2, dtype: object

## DataFrame对象

### DataFrame 作为一般的 NumPy 数组

In [17]:
population_dict = {
    'California': 38332521,
    'Texas': 26448193,
    'New York': 19651127,
    'Florida': 19552860,
    'Illinois': 12882135
}
population = pd.Series(population_dict)

area_dict = {
    'California': 423967,
    'Texas': 695662,
    'New York': 141297,
    'Florida': 170312,
    'Illinois': 149995
}
area = pd.Series(area_dict)

states = pd.DataFrame({'population': population, 'area': area})

states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

[5 rows x 2 columns]

In [18]:
# 索引
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [19]:
# 列名
states.columns

Index(['population', 'area'], dtype='object')

In [20]:
# 值
states.values

array([[38332521,   423967],
       [26448193,   695662],
       [19651127,   141297],
       [19552860,   170312],
       [12882135,   149995]])

### DataFrame 作为特殊的词典

In [21]:
# 列名-该列的值，等价于字典的 键值对
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, Length: 5, dtype: int64

### 创建 DataFrame 对象 
- 通过 Series 对象
- 通过词典组成的列表，每个词典的键位列名，每个词典代表一行
- 通过值为 Series 对象的词典，词典的键为列名
- 二维的 Numpy 数组

In [22]:
# 通过 Series 对象
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

[5 rows x 1 columns]

In [23]:
# 通过 字典 组成的列表
data = [{'a': i, 'b': i**2, 'c': 5 * i} for i in range(4)]
pd.DataFrame(data)

   a  b   c
0  0  0   0
1  1  1   5
2  2  4  10
3  3  9  15

[4 rows x 3 columns]

In [24]:
# 通过 字典 组成的列表，缺失的用 NaN 填充
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

[2 rows x 3 columns]

In [25]:
pd.DataFrame({'population': population, 'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

[5 rows x 2 columns]

In [26]:
# 通过二维 NumPy 数组

pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

    foo   bar
a  0.74  0.55
b  0.40  0.38
c  0.21  0.39

[3 rows x 2 columns]

In [27]:
# From a NumPy structured array

A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [28]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

[3 rows x 2 columns]

## Index对象

In [29]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### Index 作为不可变数组

In [30]:
ind[1], ind[::2]

(3, Int64Index([2, 5, 11], dtype='int64'))

In [31]:
ind.size, ind.shape, ind.ndim, ind.dtype

(5, (5,), 1, dtype('int64'))

In [32]:
# 不可变对象
ind[1] = 0

TypeError: Index does not support mutable operations

### Index 作为有序集合对象
可以进行一系列集合操作
- unions(并集), intersections(交集), differences(差)等

In [33]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [34]:
indA & indB  # 交集

Int64Index([3, 5, 7], dtype='int64')

In [35]:
indA | indB  # 并集

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [36]:
indA ^ indB  # 异或

Int64Index([1, 2, 9, 11], dtype='int64')

In [37]:
# 或者使用对象方法
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

# 遍历Pandas数据

In [38]:
import timeit
df = pd.DataFrame(np.random.randint(0, 10, size=(100000, 4)),
                  columns=list('ABCD'))
df.head(5)

   A  B  C  D
0  7  1  3  5
1  0  8  7  0
2  9  7  8  5
3  2  2  1  5
4  8  6  5  0

[5 rows x 4 columns]

In [39]:
# for 循环
def loop_with_for(df):
    temp = 0
    for index in range(len(df)):
        temp += df['A'].iloc[index] + df['B'].iloc[index]
    return temp


%timeit loop_with_for(df)
# %prun -l 4 loop_with_for(df)

1.09 s ± 2.88 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [40]:
# pd的iterrows方法
def loop_with_iterrows(df):
    temp = 0
    for _, row in df.iterrows():
        temp += row.A + row.B
    return temp


%timeit loop_with_iterrows(df)
# %prun -l 4 loop_with_iterrows(df)

5.95 s ± 8.44 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [41]:
# pd的itertuples函数
def loop_with_itertuples(df):
    temp = 0
    for row_tuple in df.itertuples():
        temp += row_tuple.A + row_tuple.B
    return temp


%timeit loop_with_itertuples(df)
# %prun -l 4 loop_with_itertuples(df)

49 ms ± 219 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [42]:
# zip函数
def loop_with_zip(df):
    temp = 0
    for a, b in zip(df['A'], df['B']):
        temp += a + b
    return temp


%timeit loop_with_zip(df)

10.6 ms ± 2.75 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [43]:
# pd的apply函数
def using_apply(df):
    return df.apply(lambda x: x['A'] + x['B'], axis=1).sum()


%timeit using_apply(df)

1.44 s ± 11.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [44]:
# numpy的内置函数
def using_numpy_builtin(df):
    return (df['A'].values + df['B'].values).sum()


%timeit using_numpy_builtin(df)

117 µs ± 79.5 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

# 处理时间

In [46]:
# 处理时间
from itertools import product
col_names = ["Day", "Month", "Year"]
df = pd.DataFrame(list(product([10, 11, 12], [8, 9], [2018, 2019])),
                  columns=col_names)

df['data'] = np.random.randn(len(df))

df = df.sort_values(['Year', 'Month'], ascending=[True, True])
print(df.head())

df.insert(loc=0, column="date", value=pd.to_datetime(df[col_names]))
df = df.drop(col_names, axis=1).squeeze()
print(df.head())

   Day  Month  Year  data
0   10      8  2018  1.80
4   11      8  2018  2.29
8   12      8  2018  1.78
2   10      9  2018  1.00
6   11      9  2018 -0.95

[5 rows x 4 columns]
        date  data
0 2018-08-10  1.80
4 2018-08-11  2.29
8 2018-08-12  1.78
2 2018-09-10  1.00
6 2018-09-11 -0.95

[5 rows x 2 columns]